.common-submit-btn {
  width: 180px;
  height: 58px;
  text-align: center;
  background: $blue-bg;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  margin: 0px auto;

  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  &:hover {
    background: $blue-bg;
    color: #fff;
  }
}

.enroll-btn {
  min-width: 180px;
  padding: 9px 0;
  background: $blue-bg;
  color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  text-transform: uppercase;
  margin: 0px auto;
  &:hover {
    background: $blue-bg;
    color: #fff;
  }
  i {
    margin-right: 5px;
  }
}
