@import 'partials/colors';
@import 'partials/common';
@import 'partials/mixins';

body {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #fff;
}
img {
  max-width: 100%;
}
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.form-control {
  box-shadow: none;
  outline: none;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

// login page start from here
.login-main {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/login.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f4f5fa;
  .login-box {
    width: 445px;
    background: #fff;
    height: 626px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 44px 34px;
    @include trans-xy-center;
    .logo-box {
      @include logo-box-round;
    }
    .title-box {
      margin: 43px 0;
      text-align: center;
      h3 {
        color: $title-color;
        font-size: 20px;
        font-weight: 800;
        margin: 0;
        text-transform: capitalize;
      }
    }
    .login-form {
      .form-group {
        position: relative;
        .input-icon {
          position: absolute;
          left: 16px;
          top: 8px;
        }
      }
      .form-control {
        box-shadow: none;
        outline: none;
        margin-bottom: 30px;
        background-color: #eff1f9;

        padding-left: 50px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 16px;

        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}
// login page end here

// navbar start from here

.main-navbar {
  margin-bottom: 24px;
  .navbar {
    background-color: $blue-bg;
    padding-left: 24px;
    padding-right: 24px;
    .navbar-brand {
      text-transform: capitalize;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
    }
    .nav-item {
      .nav-link {
        text-transform: capitalize;
        color: #fff;
        font-weight: 600;
        font-size: 14px;
      }
      .dropdown-menu[data-bs-popper] {
        right: 0;
        left: unset;
        @include no-radius;
      }
      .dropdown-menu {
        .dropdown-item {
          text-transform: capitalize;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }
}

// navbar end here

// dashboard page start from here
.dashboard-main {
  @include common-map-bg;
  .title-box {
    margin-bottom: 20px;
    padding-top: 20px;
    .logo-box {
      @include logo-box-round;
      width: 71px;
      height: 71px;
    }
    .title {
      margin-top: 20px;
      text-align: center;
      h3 {
        color: $title-color;
        font-size: 20px;
        font-weight: 800;
        margin: 0;
        text-transform: capitalize;
      }
    }
  }
  .tracker-box {
    min-height: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 20px;
    .logo-box {
      @include logo-box-round;
      width: 140px;
      height: 140px;
    }
    .title {
      text-align: center;
      margin: 30px 0;
      h3 {
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 600;
      }
    }
  }
  .summary-list-box {
    background: #fff;
    padding: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 20px;
    .title-flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 20px;

      .title-box {
        flex-basis: 60%;
        margin-bottom: 0;
        padding: 0;
        h3 {
          margin-bottom: 0;
          text-transform: capitalize;
          line-height: normal;
          font-size: 16px;
          font-weight: 600;
          color: $title-color;
        }
      }
      .date-box {
        flex-basis: 40%;
        font-size: 12px;
        text-transform: capitalize;
        font-weight: normal;
      }
    }
    .table {
      thead {
        th {
          text-transform: capitalize;
          font-size: 14px;
          color: #2c2d33;
          font-weight: 600;
        }
      }
      tbody {
        td {
          vertical-align: middle;
          font-size: 14px;
          color: #6e7079;
          padding-top: 5px;
          padding-bottom: 5px;
          button.approve-btn {
            width: 139px;
            background: $blue-bg;
            color: #fff;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            text-transform: capitalize;
            font-size: 14px;
          }
          .objection-btn {
            width: 139px;
            background: $red;
            color: #fff;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            text-transform: capitalize;
            font-size: 14px;
          }
        }
      }
    }
    .pagination {
      li.page-item {
        margin: 0 5px;
        a.page-link {
          font-size: 12px;
          border-radius: 8px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          &:focus {
            box-shadow: none;
            outline: none;
          }
        }
      }
    }
  }
  .sender-box {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 20px;
    .logo-box {
      @include logo-box-round;
      width: 108px;
      height: 108px;
    }
    .enroll-btn {
      // font-size: 14px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 30px 0;
      text-transform: capitalize;
    }
    .enroll-btn.negetive {
      background: $red;
    }
  }
}
// dashboard page start from here

// enroll form start from here

.enroll-main {
  width: 100%;
  min-height: 86vh;
  background-image: url(/assets/images/Pride-plan.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f4f5fa;
  .title {
    margin: 30px 0;
    text-align: center;
    h3 {
      color: $title-color;
      font-size: 20px;
      font-weight: 800;
      margin: 0;
      text-transform: capitalize;
    }
  }
  .form-box {
    padding: 50px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: -1px 1px 4px 0 #556ff170;
    .form-group {
      position: relative;
      margin-bottom: 10px;
      .form-label {
        font-size: 16px;
        text-transform: capitalize;
        font-weight: 600;
      }
      .input-icon {
        position: absolute;
        right: 25px;
        top: 37px;
        img {
          width: 30px;
        }
      }
      .form-control {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 20px;
        padding-right: 60px;
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }
    .form-select {
      font-size: 14px;
      text-transform: uppercase;
    }
    .form-check {
      margin-bottom: 15px;
      .form-check-input {
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
      .form-check-input:checked {
        background-color: $green;
        border-color: $green;
      }
      .form-check-label {
        margin-left: 10px;
        font-size: 14px;
        text-transform: capitalize;
      }
    }

    .submit-btn {
      min-width: 180px;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      background: $blue-bg;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      margin: 30px 0;
      text-transform: capitalize;
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
  .table {
    thead {
      th {
        text-transform: capitalize;
        font-size: 14px;
        color: #2c2d33;
        font-weight: 600;
      }
    }
    tbody {
      td {
        vertical-align: middle;
        font-size: 14px;
        color: #6e7079;
        padding-top: 5px;
        padding-bottom: 5px;
        text-transform: capitalize;
        button.approve-btn {
          width: 139px;
          background: $blue-bg;
          color: #fff;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          text-transform: capitalize;
          font-size: 14px;
        }
        .objection-btn {
          width: 139px;
          background: $red;
          color: #fff;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
          text-transform: capitalize;
          font-size: 14px;
        }
        .edit-btn {
          background: #25943e;
          color: #fff;
          padding: 5px 8px;
          @include no-radius;
          font-size: 14px;
          margin-right: 5px;
        }
        .delete-btn {
          color: #fff;
          padding: 5px 8px;
          @include no-radius;
          font-size: 14px;

          background: $yellow;
        }
      }
    }
  }
  .pagination {
    li.page-item {
      margin: 0 5px;
      a.page-link {
        font-size: 12px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}

// enroll form start from here

.footer-main {
  background: #000000;
  padding: 20px 0;
  // position: fixed;
  // bottom: 0;
  width: 100%;
  p {
    margin: 0;
    font-size: 16px;
    color: #fff;
    a {
      color: $yellow;
    }
  }
}
