.common-submit-btn {
  width: 180px;
  height: 58px;
  text-align: center;
  background: #5570f1;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  margin: 0px auto;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.common-submit-btn:hover {
  background: #5570f1;
  color: #fff;
}

.enroll-btn {
  min-width: 180px;
  padding: 9px 0;
  background: #5570f1;
  color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  text-transform: uppercase;
  margin: 0px auto;
}
.enroll-btn:hover {
  background: #5570f1;
  color: #fff;
}
.enroll-btn i {
  margin-right: 5px;
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #fff;
}

img {
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.form-control {
  box-shadow: none;
  outline: none;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
}

.login-main {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/login.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f4f5fa;
}
.login-main .login-box {
  width: 445px;
  background: #fff;
  height: 626px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 44px 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.login-main .login-box .logo-box {
  width: 136px;
  height: 136px;
  background: #f4f5fa;
  border: 1px solid #e1e2e9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0px auto;
}
.login-main .login-box .title-box {
  margin: 43px 0;
  text-align: center;
}
.login-main .login-box .title-box h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  text-transform: capitalize;
}
.login-main .login-box .login-form .form-group {
  position: relative;
}
.login-main .login-box .login-form .form-group .input-icon {
  position: absolute;
  left: 16px;
  top: 8px;
}
.login-main .login-box .login-form .form-control {
  box-shadow: none;
  outline: none;
  margin-bottom: 30px;
  background-color: #eff1f9;
  padding-left: 50px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.login-main .login-box .login-form .form-control:focus {
  box-shadow: none;
  outline: none;
}

.main-navbar {
  margin-bottom: 24px;
}
.main-navbar .navbar {
  background-color: #5570f1;
  padding-left: 24px;
  padding-right: 24px;
}
.main-navbar .navbar .navbar-brand {
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
.main-navbar .navbar .nav-item .nav-link {
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.main-navbar .navbar .nav-item .dropdown-menu[data-bs-popper] {
  right: 0;
  left: unset;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.main-navbar .navbar .nav-item .dropdown-menu .dropdown-item {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}

.dashboard-main {
  width: 100%;
  min-height: 100vh;
  background-image: url(/assets/images/login.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f4f5fa;
}
.dashboard-main .title-box {
  margin-bottom: 20px;
  padding-top: 20px;
}
.dashboard-main .title-box .logo-box {
  width: 136px;
  height: 136px;
  background: #f4f5fa;
  border: 1px solid #e1e2e9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0px auto;
  width: 71px;
  height: 71px;
}
.dashboard-main .title-box .title {
  margin-top: 20px;
  text-align: center;
}
.dashboard-main .title-box .title h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  text-transform: capitalize;
}
.dashboard-main .tracker-box {
  min-height: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 20px;
}
.dashboard-main .tracker-box .logo-box {
  width: 136px;
  height: 136px;
  background: #f4f5fa;
  border: 1px solid #e1e2e9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0px auto;
  width: 140px;
  height: 140px;
}
.dashboard-main .tracker-box .title {
  text-align: center;
  margin: 30px 0;
}
.dashboard-main .tracker-box .title h3 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}
.dashboard-main .summary-list-box {
  background: #fff;
  padding: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 20px;
}
.dashboard-main .summary-list-box .title-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
.dashboard-main .summary-list-box .title-flex .title-box {
  flex-basis: 60%;
  margin-bottom: 0;
  padding: 0;
}
.dashboard-main .summary-list-box .title-flex .title-box h3 {
  margin-bottom: 0;
  text-transform: capitalize;
  line-height: normal;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}
.dashboard-main .summary-list-box .title-flex .date-box {
  flex-basis: 40%;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: normal;
}
.dashboard-main .summary-list-box .table thead th {
  text-transform: capitalize;
  font-size: 14px;
  color: #2c2d33;
  font-weight: 600;
}
.dashboard-main .summary-list-box .table tbody td {
  vertical-align: middle;
  font-size: 14px;
  color: #6e7079;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dashboard-main .summary-list-box .table tbody td button.approve-btn {
  width: 139px;
  background: #5570f1;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: capitalize;
  font-size: 14px;
}
.dashboard-main .summary-list-box .table tbody td .objection-btn {
  width: 139px;
  background: #ce004a;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: capitalize;
  font-size: 14px;
}
.dashboard-main .summary-list-box .pagination li.page-item {
  margin: 0 5px;
}
.dashboard-main .summary-list-box .pagination li.page-item a.page-link {
  font-size: 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.dashboard-main .summary-list-box .pagination li.page-item a.page-link:focus {
  box-shadow: none;
  outline: none;
}
.dashboard-main .sender-box {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 20px;
}
.dashboard-main .sender-box .logo-box {
  width: 136px;
  height: 136px;
  background: #f4f5fa;
  border: 1px solid #e1e2e9;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0px auto;
  width: 108px;
  height: 108px;
}
.dashboard-main .sender-box .enroll-btn {
  padding-left: 15px;
  padding-right: 15px;
  margin: 30px 0;
  text-transform: capitalize;
}
.dashboard-main .sender-box .enroll-btn.negetive {
  background: #ce004a;
}

.enroll-main {
  width: 100%;
  min-height: 86vh;
  background-image: url(/assets/images/Pride-plan.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #f4f5fa;
}
.enroll-main .title {
  margin: 30px 0;
  text-align: center;
}
.enroll-main .title h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  text-transform: capitalize;
}
.enroll-main .form-box {
  padding: 50px;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: -1px 1px 4px 0 rgba(85, 111, 241, 0.4392156863);
}
.enroll-main .form-box .form-group {
  position: relative;
  margin-bottom: 10px;
}
.enroll-main .form-box .form-group .form-label {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}
.enroll-main .form-box .form-group .input-icon {
  position: absolute;
  right: 25px;
  top: 37px;
}
.enroll-main .form-box .form-group .input-icon img {
  width: 30px;
}
.enroll-main .form-box .form-group .form-control {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 60px;
}
.enroll-main .form-box .form-group .form-control:focus {
  box-shadow: none;
  outline: none;
}
.enroll-main .form-box .form-select {
  font-size: 14px;
  text-transform: uppercase;
}
.enroll-main .form-box .form-check {
  margin-bottom: 15px;
}
.enroll-main .form-box .form-check .form-check-input:focus {
  box-shadow: none;
  outline: none;
}
.enroll-main .form-box .form-check .form-check-input:checked {
  background-color: #54e360;
  border-color: #54e360;
}
.enroll-main .form-box .form-check .form-check-label {
  margin-left: 10px;
  font-size: 14px;
  text-transform: capitalize;
}
.enroll-main .form-box .submit-btn {
  min-width: 180px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background: #5570f1;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin: 30px 0;
  text-transform: capitalize;
  padding-top: 9px;
  padding-bottom: 9px;
}
.enroll-main .table thead th {
  text-transform: capitalize;
  font-size: 14px;
  color: #2c2d33;
  font-weight: 600;
}
.enroll-main .table tbody td {
  vertical-align: middle;
  font-size: 14px;
  color: #6e7079;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
}
.enroll-main .table tbody td button.approve-btn {
  width: 139px;
  background: #5570f1;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: capitalize;
  font-size: 14px;
}
.enroll-main .table tbody td .objection-btn {
  width: 139px;
  background: #ce004a;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: capitalize;
  font-size: 14px;
}
.enroll-main .table tbody td .edit-btn {
  background: #25943e;
  color: #fff;
  padding: 5px 8px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-size: 14px;
  margin-right: 5px;
}
.enroll-main .table tbody td .delete-btn {
  color: #fff;
  padding: 5px 8px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  font-size: 14px;
  background: #ff9500;
}
.enroll-main .pagination li.page-item {
  margin: 0 5px;
}
.enroll-main .pagination li.page-item a.page-link {
  font-size: 12px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.enroll-main .pagination li.page-item a.page-link:focus {
  box-shadow: none;
  outline: none;
}

.footer-main {
  background: #000000;
  padding: 20px 0;
  width: 100%;
}
.footer-main p {
  margin: 0;
  font-size: 16px;
  color: #fff;
}
.footer-main p a {
  color: #ff9500;
}/*# sourceMappingURL=style.css.map */